* {
    background-color: rgb(241, 232, 232);
}

.navbar {
    display:flex;
    flex-direction: row;
    border-style: solid;
    border-color: red;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #1F2937;
}

.navbar_logo {   
    border-style: solid;
    border-color: red;
    background-color: #1F2937;
    width: 10%;
}

.navbar_logo p{
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.navbar_buttons {
    border-style: solid;
    border-color: red;
    background-color: #1F2937;
    width: 30%;
    display:flex;    
    flex-direction: row;
    justify-content:space-evenly;
}

.navbar_buttons p {
    background-color: #1F2937;
    font-size: 16px;
    color: #E5E7EB;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contentDiv1, .contentDiv2, .contentDiv3, .contentDiv4 {    
    height: 400px;
    width: 100%;
    border-style: solid;
    border-color: red;
}

.contentDiv1 {
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#mainDescription{
    background-color: #1F2937;
    margin-top: 100px;
    text-align: left;    
}

#mainDescription h1 {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
}

#mainDescription p {
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#mainImage{
    margin-top: 150px;
    background-color: #1F2937;
}

.contentDiv2, .contentDiv4 {
    background-color: white;
}

.contentDiv2 {
    flex-direction: column;
    text-align: center;
    background-color: white;
}

#someInformation p {
    background-color: white;
    font-weight: bold;
    color: #1F2937;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

#imageGallery {
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.imgMini {
    border-style: solid;
    border-color: rgb(48, 12, 177);
    height: 100px;
    width: 100px;
}

.contentDiv3 {
    background-color: #E5E7EB;
}

.contentDiv3 p {
    font-weight:lighter;
    font-family:cursive;
    font-size: 24px;
    margin-top:100px;
    text-align: center;
    background-color: #E5E7EB;
}

.contentDiv4 {
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}
#callAction {
    border-style: solid;
    border-color: rgb(48, 12, 177);
    height: 100px;
    width: 300px;
    margin-top: 100px; 
    font-weight: bold;
    color: #ffffff;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;    
    background-color: rgb(106, 80, 167);   
    justify-content: space-evenly;
}

.root {
    height: 100px;
    width: 100%;
    border-style: solid;
    border-color: red;
    background-color: #1F2937;       
}